* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem; 
  padding: 10px 40px;
}
.names{
  max-width:1400px;
  width:100%;
  margin:0 auto;
  display: flex;
  /* padding:20px; */
}
.flex{
  display: flex;
}
.box {
  /* border: 2px solid #d6bcfa; */
  /* height: 500px; */
  border-radius: 10px;
  padding:20px;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2); 
  
}
h1,h2 {
  text-align: center;
}

.header{
  color:#ffff;
  background-color: #4075d5;
  padding:20px;
  margin-bottom:40px;
}

h1{
  font-size: 40px;
  font-weight: 500;
}
h2{
  font-size: 28px;
  font-weight: 400;
  align-items: center;
  
}

p{
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.image img{
  border-radius: 50%;
  margin-right:20px;
  border:2px solid #29775f;
  width:100px;
  height: 100px;
}

.link{
  background-color: #e7edfd;
  padding:20px;
  text-align: center;
  border-radius: 10px;
 
}

.link a{
  text-decoration: none;
  font-size: 18px;
  
}

.nameTag{
  background-color: black;
  color:white;
  width:200px;
  padding:10px 20px;
  margin-bottom:  40px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameTag span{
  font-size: 24px;
  font-weight: 700;
}

.searchbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  width:500px;
  padding:15px;
  font-size: 20px;
  
}