*,
*::before,
*::after{
    box-sizing:border-box;
}
html{
    font-size: 16px;
}

body{
    font-family: Montserrat;
}
/*******Flexible container**********/
.container{
    max-width:600px;
    width:100%;
    margin:0 auto;
    


}
.gameContainer{
    width: 530px;
    height: 600px;
    background: white;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 50%);
    border-radius: 5px;
    margin: 80px auto;
    /* border:1px solid rgb(54, 52, 52); */
}
.playerContainer{
   margin:50px;
}


.header{
    background: dodgerblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}

.justify-content{
    
    justify-content: space-between;
}

.flex-center{
    
    justify-content: center;
    align-items: center;
}

h1{
    /* display: block; */
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#player .far, #player .choice {
    color: dodgerblue;
    cursor: pointer;
}

.far{
    font-size:60px;
    margin-right: 50px;
}

#computer .far, #computer .choice {
    color: rgb(235, 43, 52);
}

.reset-icon {
    font-size: 30px;
    cursor: pointer;
    margin-left: 50px;
}

.fa, .fas {
    font-weight: 900;
}

.selected {
    color: black !important;
}

#resultText{
    font-size: 42px;
    text-align: center;
}

.selected{
    color:black;
}